.hero_pricing{
    background-color: #F8F9FA;
    min-width:  900px;
    min-height: 700px;
    margin: auto;
}


.card{
    min-width: 315px;
    min-height: 410px;
    border-radius: 7px;
    border: 1px solid  rgb(130, 130, 130);
    
    // background-color: pink;
}
.pricing_cards{
    padding-top: 50px;
    display: flex;
justify-content: center;
align-items: center;
gap: 50px;
max-width: 880px;
width: 100%;
margin: auto;

}
.card_info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    max-width: 430px;
  
    .one{
        color: rgb(130, 130, 130);
        font-weight: bold ;
       
    }
    .fa-solid{
        color: #0D6EFD;
        font-size: 10px;
        margin-right: 5px;
    }
    .fa-star{
        color: yellow;
        font-size: 15px;
        }
    .three{
        color: rgb(130, 130, 130);
       


    }
    .btn_pricing{
        height: 40px;
        border-radius: 7px;
        cursor: pointer;
        
    }
    .five{
        border-color: #0D6EFD;
        color: #0D6EFD;
    }
    .five:hover{
        color: white;
        background-color: #0D6EFD;
    }
    .four{
        border-style: none;
        background-color: #0D6EFD;
        color: white;
    }
    .four:hover{
        background-color: white;
        color: #0D6EFD;
    }

}
.two{
    color: #212529;
    font-weight: bold;
    
    
}
.six{
    font-weight: bold;
    color: #212529;
}

.dollar{
    display: flex;
    align-items: center;
    
    .main{
        p{
            font-size: 55px;
            font-weight: bold;
            color: #212529;

        }
    }
    .mini{
        padding-top: 20px;
        p{
            font-size: 18px;
            opacity: 0.7;
        }
    }

    

    
}
.pricing_info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    padding-top: 50px;
    h3{
       font-size: 37px; 
       color: #212529;
    }
    span{   
        font-size: 20px;
        opacity: 0.7;
    }
}
@media only screen and (max-width:991px){
    .pricing_cards{
      display: flex;
      flex-wrap: wrap;
    }

}
@media only screen and (max-width:550px){
    .pricing_cards{
        width: 400px;
      display: flex;
      flex-wrap: wrap;
    }

}


